
<div class="container "style="margin: 50px 100px;" *ngIf="Cart.Products.length !== 0">
 
  <div class="row">
    <div class="col">
      <div class="row"  *ngFor="let item of Cart.Products" style="margin-bottom: 50px;">
        <div class="col-4">
          <img [src]="item.url" />
        </div>
        <div class="col-4">
          <div class="row">
            <p>{{item.name}}</p>
          </div>
          <div class="row">
            <p>${{item.price}}</p>
          </div>
          <div class="row">
            <div class="col-6">
                Amount  :                         
                <select class="number-input" [(ngModel)]="item.Amount" (ngModelChange)="CalcTotalPrice()">
                  <option value="0" disabled>0</option>                  
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
            </div>
      
            </div>
    
        </div>
        <div class="col-4 container1">
          <div class="child1">
            <a class="btn btn-primary" (click)="RemoveItemFromCart(item)">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>  
        </a>          
          </div>

        </div>
      </div>
    <div class="row">
      <h1>Total: ${{TotalAmmount}}</h1>
    </div>
    </div>  
    <div class="col">
      <form [formGroup]="myform" (ngSubmit)="SubmitForm()">
        <div class="form-group custom">
          <label for="FullName">Full Name</label>
          <input type="email" class="form-control" id="FullName" formControlName="Name" placeholder="Enter Full Name">
          <div *ngIf="myform.controls.Name.invalid && myform.controls.Name.touched" style="color: red ;">
            <p *ngIf="myform.controls.Name.errors?.['required']">*Task is required</p>
            <p *ngIf="myform.controls.Name.errors?.['minlength']">*Task should be at least 3 characters</p>
          </div>
        </div>
        <div class="form-group custom">
          <label for="Address">Address</label>
          <input type="text" class="form-control" formControlName="Address" placeholder="Address">
          <div *ngIf="myform.controls.Address.invalid && myform.controls.Address.touched" style="color: red ;">
            <p *ngIf="myform.controls.Address.errors?.['required'] ">*Task is required</p>
            <p *ngIf="myform.controls.Address.errors?.['minlength']">*Task should be at least 3 characters</p>
          </div>
        </div>
         <div class="form-group custom">
          <label for="CridetCardNumber">Cridet Card Number</label>
          <input type="text"  class="form-control" formControlName="CridtCardNumber" placeholder="Cridet Card Number">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div *ngIf="myform.controls.CridtCardNumber.invalid && myform.controls.CridtCardNumber.touched" style="color: red ;">
            <p *ngIf="myform.controls.CridtCardNumber.errors?.['required'] ">*Task is required</p>
            <p *ngIf="myform.controls.CridtCardNumber.errors?.['pattern'] ">*enter valid Cridet card number ex: 4111111111111111</p>
            <p *ngIf="myform.controls.CridtCardNumber.errors?.['minlength']">*Task should be at least 3 characters</p>

          
          </div>
        </div>      
        <button type="submit" class="btn btn-primary" [disabled]="myform.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="container "style="margin: 50px 100px; color: red ;" *ngIf="Cart.Products.length === 0">
 <h1>No Items In The Cart</h1>
 <a routerLink="/">Back to product list</a>
</div>